<div class="navbar-display" >
  <nav class=" navbar navbar-expand-md navbar-light  bg-light">
    <div class="container-fluid">
      <a class="navbar-brand links-display" >Admin Panel</a>
      <h4> Welcome {{userInfo?.name?.firstname}} {{userInfo?.name?.lastname}} </h4>
      <button class="navbar-toggler links-display" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0 links-display">
          <li class="nav-item">
            <a class="nav-link"  routerLink="products"  routerLinkActive="active" >Products</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " routerLink="categories"  routerLinkActive="active">Categories</a>
          </li>
          <li class="nav-item">
            <button class="nav-link "    (click)="logOut()"> <b>Logout</b> </button>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</div>
