
@import '../../../../styles.scss';

.navbar-display{
  // @include breakpoint(sm){
  //   display: block !important;
  // }
  // display: none !important;


  position: absolute;
  top: 0;
  width: -webkit-fill-available;
  left: 280px;
  @include breakpoint(lg){
   left: 174px;
  }
  @include breakpoint(sm){
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;  }
}
