/* You can add global styles to this file, and also import other style files */
@import './styles/global/variables';
@import './styles/global/mixins';

html,
body {
  // height: 100%;
}

body {
  margin: 0;
  margin-right: 10px !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgba(0, 0, 0, .1) !important;
}
